body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff7f0;
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #d46b08;
}
.imagem{
    margin: 0;
    text-align: left;
}

.tabelaClientes {
    background-color: #ffe9d6;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    text-align: left;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #ff944d;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ff7b1a;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    
}

thead{
    color: white;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #ffb366;
}

h3{
    text-align: right;
    padding-right: 155px;
}

